.container {
	text-align: center;
	height: 100% !important;
	width: 100% !important;
	position: absolute;
	background-image:url('../images/quiz-app_bg_A.jpg');
	background-repeat:repeat;
}

.header {
	margin-top: 2em;
	height: 30%;
}

.user-info-container {
	height: 30%;
}

.start-button-container {
	height: 10%;
}

.help-button-container {
	height: 10%;
}

.row {
	text-align: center;
}

button.rounded, input[type="text"] {
	border: 1px solid #ccc;
  	-moz-border-radius: 20px;
  	-webkit-border-radius: 20px;
  	border-radius: 20px;
  	font-size: 1.5em;
}


.text-box-container input, input[type="text"] {
	background-color: rgba(255, 255, 255, .15);
	border: 2px;
	padding-left: 1em;
	padding-right: 1em;
	height: 2em;
	width: 30%;
	color: white;
}

p.lead {
	color: #fff;
}

.button-container button {
	width: 20%;
}

.button-container>div {
	margin-bottom: 2em;
}




.question-header-panel {
	height: 15%;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 1em;
	color: #00DEFF;
}

img.start-timer-image {
	margin-left: -110px;
}

.timer-container {
	position: relative;
}

img.time-up-image {
	z-index:100;
	opacity: 0;
}

.questions .header {
	margin-top: 0em;
	height: 15%;
}

.question-container {
	height: 55% !important;
	color: #DDD;
	font-weight: bolder;
	font-size: 1.5em;
	margin-top: 0.5em;
    margin-bottom: 1em;
}

.options {
	margin-top: 3em;
}

.radio-option {
	margin-bottom: 1em;
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.radio-option .option-container {
	background: rgba(255, 255, 255, 0.15);
	padding: 0.5em;
}

.radio-option .option-container:hover {
	background: rgba(255, 255, 255, 0.35);
}

button.next {
	padding: 0.5em 4em;
}

button.button-no-background {
	border: 0px;
	background: none;
	color: #DDD;
	font-size: 1.8em;
	padding-top: 0.5em;
	font-weight: bold;
}

button.button-no-background:hover {
	color: #ffffff;
}

.question-text {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.option-image {
	visibility: hidden;
	float: left;
	width: 2em;
	height: 2em;
	margin-top: -0.33em;
}

.selected {
	background: rgba(255, 255, 255, 0.5);
}

.option-text {
	padding-right: 2em;
}

.selected .option-image>img {
	width: 2em;
	height: 1.5em;
}

.timer-hand {
	margin-left: -60px;
	width: 6px;
	height: 41px;
	margin-bottom: -6px;
	display: inline-block;
	border-radius: 50px;
	background-color: white;
	-webkit-transform-origin: 50% 95%;
	-moz-transform-origin: 50% 95%;
	-ms-transform-origin: 50% 95%;
	-transform-origin: 50% 95%;
}

.static-timer {
	margin-left: -60px;
	z-index: 500;
}

.selected .option-image {
	visibility: visible;
}

.header-left {
	width: 25%;
	float: left;
}

.header-center {
	width: 50%;
	float: left;
}

.header-right.weightage {
	width: 25%;
	float: left;
}

.question-container input[type="text"] {
	font-size: 1em;
	margin-top: 2em;
}

.result-message {
	font-size: 2em;
}

.score-container {
	color: #ffffff;
	padding: 1em;
	background-color: rgba(0,0,0,0.35);
	width: 40%;
	margin-left: 30%;
	box-shadow: 0px 0px 10px #ffffff;
}

.score-display-text, .score-text{
	font-size: 3em;
	margin-top: 0.5em;
	font-style: italic;
	text-shadow: 0px 0px 10px #ffffff;
}

