<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<link rel="stylesheet" href="../stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<div class='header'>
				<img src="../images/quiz-logo_A.png" alt="quiz">
			</div>
			<div class="user-info-container">
				<p class="lead">
					Enter Your Name
				</p>
				<div class="text-box-container">
					<input type="text" class="rounded">
				</div>
			</div>
			<div class="button-container">
				<div class='start-button-container'>
					<button class="btn btn-large rounded">Start Game</button>				
				</div>
				<div class="help-button-container">
						<button class="btn btn-large rounded">Help</button>
				</div>
			</div>			
		</div>
	</body>
</html>