<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
        <script type="text/javascript" src="../javascripts/_vendor/jquery-1.7.2.min.js"></script>
        <script src="http://cloud.github.com/downloads/emberjs/ember.js/ember-0.9.6.min.js"></script>
        <script src="../javascripts/init.js"></script>
        <script src="../javascripts/models/QuestionModel.js"></script>
        <script src="../javascripts/models/RadioQuestionModel.js"></script>
        <script src="../javascripts/models/FillinQuestionModel.js"></script>
        <script src="../javascripts/models/ImageFillinQuestionModel.js"></script>
        <script src="../javascripts/controllers/quizController.js"></script>
        <script src="../javascripts/controllers/timerController.js"></script>
        <script src="../javascripts/views/RadiobuttonView.js"></script>
        <script src="../javascripts/views/UserInputField.js"></script>
		<link rel="stylesheet" href="../stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>
	<body>	
		<script type="text/x-handlebars">
			{{#if App.quizController.currentIndex}}
				<div class="container questions">
					<div class='header'>
						<div class="timer-container">
							<img class="time-up-image" src="../images/timer_times-up_B.png" />
							<img class="start-timer-image" src="../images/timer_times-up_A.png" />
							<div class="timer-hand"></div>
							<img class="static-timer" src="../images/timer_start.png" />
						</div>
						<div class="question-header-panel row">
							<div class="header-left">
								<div class="pull-right">	
									Question {{App.quizController.currentIndex}}/{{App.quizController.getTotalQuestionsLength}}			
								</div>
							</div>
							<div class="timer header-center">
                                <div class="hand">{{App.timerController.timeLeft}}</div>
							</div>
							<div class="weightage header-right">
								<div class="pull-left">
									Weightage {{App.quizController.currentQuestion.weight}}
								</div>
							</div>						
						</div>
					</div>	
					<div class="question-container">
						<div class="question-text">
							{{App.quizController.currentQuestion.question}}
						</div>
						{{#if App.quizController.currentQuestion.options}}
							<div class="options">
								{{#each App.quizController.currentQuestion.options}}
									<div class="radio-option">
										{{view Ember.RadioButton title=this}}
									</div>
								{{/each}}
							</div>
							{{else}}
								{{#if App.quizController.currentQuestion.imageURL}}
									<div class="image-container"><img {{bindAttr src="App.quizController.currentQuestion.imageURL"}}/></div>
								{{/if}}
								{{view Em.TextField valueBinding="App.quizController.currentQuestion.userAnswer" placeholder="Enter your answer"}}
						{{/if}}				
					</div>
					<div class="btn-controls">
						<div class="span3 pull-left">
							<div class="pull-right">
								<button class="button-no-background" {{action "endQuiz" target="App.quizController"}}>< Quit</button>
							</div>
						</div>
						<button class="btn btn-large rounded next" disabled {{action "loadNextQuestion" target="App.quizController"}}>Next</button>
						<div class="span3 pull-right">
							<div class="pull-left">
								<button class="button-no-background" {{action "loadNextQuestion" target="App.quizController"}}>Pass ></button>
							</div>
						</div>
					</div>
				</div>				
			{{else}}
			<div class="container">
				<div class='header'>
					<img src="../images/quiz-logo_A.png" alt="quiz">
				</div>
				<div class="user-info-container">
					<p class="lead">
						Enter Your Name
					</p>
					<div class="text-box-container">	                    
	                {{view App.SearchTextField placeholder="Please enter your name" valueBinding="App.quizController.username"}}                    
					</div>
				</div>
				<div class="button-container">
					<div class='start-button-container'>
						<button class="btn btn-large rounded" {{action "startQuiz" target="App.quizController"}}>Start Game</button>						
					</div>
					<div class="help-button-container">
						<button class="btn btn-large rounded">Help</button>
					</div>
				</div>
				</div>
			{{/if}}
		</script>
	</body>
</html>
